.div__container {
    height: 50px;
    /* border: 1px solid #000000; */
    font-size: medium;
    display: inherit;
}

.div__child {
    float: left;
    height: 50px;
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.div__child span {
    vertical-align: middle;
    cursor: pointer;
}

.div__container a {
    color: inherit;
    text-decoration: none;
}