<div *ngFor="let provider of providers" class="div__container">
    <div class="div__child" title="{{provider.provider.name}}"  (click)="open(content)" [ngStyle]="{'background-color': provider.provider.backgroundColor, 'color': provider.provider.textColor, 'width': ((provider.frequency.downLink.end - provider.frequency.downLink.start) * 100) / totalBandwidth + '%'}">
        <span [ngStyle]="{'color': provider.provider.textColor}">{{provider.provider.name}}</span>
        <br />
        <span><small><ng-container *ngIf="provider.frequency.downLink != null" else >{{provider.frequency.downLink.end - provider.frequency.downLink.start | number}}</ng-container>
        <ng-container *ngIf="provider.frequency.downLink == null && provider.frequency.upLink != null">{{provider.frequency.downLink.end - provider.frequency.downLink.start | number}}</ng-container> MHz</small></span>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{provider.provider.name}} - Band {{frequencyBand}}</h4>
        </div>
        <div class="modal-body">
            <table class="table table-borderless">
                <tr>
                    <th>Provider</th><td><a rel="noopener" target="_blank" href="{{provider.provider.homePage}}">{{provider.provider.longName}}</a></td>
                </tr>
                <tr *ngIf="provider.technology != null">
                    <th>Technology</th><td>{{provider.technology.join(", ")}}</td>
                </tr>
                <tr *ngIf="provider.frequency.downLink != null">
                    <th>Download Frequency Range</th><td>{{provider.frequency.downLink.start}} - {{provider.frequency.downLink.end}} MHz</td>
                </tr>
                <tr *ngIf="provider.frequency.upLink != null">
                    <th>Upload Frequency Range</th><td>{{provider.frequency.upLink.start}} - {{provider.frequency.upLink.end}} MHz</td>
                </tr>
                <tr>
                    <th>Bandwidth</th><td>
                        <ng-container *ngIf="provider.frequency.downLink != null" else >{{provider.frequency.downLink.end - provider.frequency.downLink.start | number}}</ng-container>
                        <ng-container *ngIf="provider.frequency.downLink == null && provider.frequency.upLink != null">{{provider.frequency.downLink.end - provider.frequency.downLink.start | number}}</ng-container> MHz
                    </td>
                </tr>
                <tr *ngIf="provider.valid != null">
                    <th>Valid</th><td>{{provider.valid.start | date}} - {{provider.valid.end | date}}</td>
                </tr>
                <ng-container *ngIf="provider.frequency.arfcn != null">
                    <tr *ngIf="provider.frequency.arfcn.GSM != null">
                        <th>2G ARFCN</th><td>{{provider.frequency.arfcn.GSM.join(", ")}}</td>
                    </tr>
                    <tr *ngIf="provider.frequency.arfcn.UMTS != null">
                        <th>3G UARFCN</th><td>{{provider.frequency.arfcn.UMTS.join(", ")}}</td>
                    </tr>
                    <tr *ngIf="provider.frequency.arfcn.LTE != null">
                        <th>4G EARFCN</th>
                        <td>
                            <ng-container *ngFor="let arfcn of provider.frequency.arfcn.LTE">
                                <p>{{arfcn}} {{getFrequencyLTE(arfcn)}}</p>
                            </ng-container>
                        </td>
                    </tr>
                    <tr *ngIf="provider.frequency.arfcn.NR != null">
                        <th>5G NR-ARFCN</th>
                        <td>
                            <ng-container *ngFor="let arfcn of provider.frequency.arfcn.NR">
                                <p>{{arfcn}} {{getFrequencyNR(arfcn)}}</p>
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>
            </table>
            <ng-container *ngIf="provider.source != null">
                <p><strong>Sources:</strong></p>
                <ul>
                    <li *ngFor="let source of provider.source"><a rel="noopener" target="_blank" href="{{source.url}}">{{source.name}}</a></li>
                </ul>
            </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" ngbAutofocus>Close</button>
        </div>
    </ng-template>
</div>