<nav ngbNav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""><img alt="MobileSpectrum Logo" src="assets/navbar_logo.png">
    {{title}}
  </a>
  <ul class="nav navbar-nav ml-auto">
    <li><a class="nav-link" target="_blank" rel="noopener" title="Contribute in Gitlab"
        href="https://gitlab.com/mobilespectrum/MobileSpectrum">
        <fa-icon [icon]="faGitlab"></fa-icon>
      </a></li>
  </ul>
</nav>
<noscript>
  <ngb-alert class="alert-status" type="warning" [dismissible]="false">
    <strong>This website require Javascript to working properly.</strong> Please enable Javascript on your browser
    settings.
  </ngb-alert>
</noscript>
<ngb-alert class="alert-status loader-ieonly" type="warning" [dismissible]="false">
  <strong>Internet Explorer is not supported. </strong>Open this site in Microsoft Edge.
</ngb-alert>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <p class="copyright">&copy; {{title}} - Version: <a target="_blank" rel="noopener"
        href="https://gitlab.com/mobilespectrum/MobileSpectrum/-/commits/main">{{version}}</a></p>
  </div>
</footer>