/* You can add global styles to this file, and also import other style files */

fa-icon svg {
  width: 1em;
  height: 1em;
}

.alert-status {
  margin-bottom:0;
}

.loader-ieonly {
  display: none;
}
  
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    .loader-ieonly {
      display: block;
    }
  }
  

.body-container {
    margin-bottom: 100px
}

.app-loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 50%;
    margin: 0 auto;
}