.display-4 {
    font-size: 1.5rem;
}

@media (min-width: 350px) {
    .display-4 {
        font-size: 2rem;
    }
}

@media (min-width: 600px) {
    .display-4 {
        font-size: 3.0rem;
    }
}

@media (min-width: 800px) {
    .display-4 {
        font-size: 4.5rem;
    }
}