<div class="container body-container" *ngIf="loaded == false">
    <div class="app-loading">
        <strong>Loading...</strong>
        <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="container body-container" *ngIf="loaded == true">
    <h1>{{country | titlecase}} <ng-container *ngIf="region != null"> / {{region | titlecase}}</ng-container></h1>
    <ng-container *ngFor="let frequency of frequencies">
        <h2>{{getBandName(frequency.band)}} - Band {{frequency.band}}</h2>
        <div class="row">
            <ng-container *ngIf="getBandType(frequency.band) == 'FDD'">
                <div class="col-md">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th colspan="3">FDD Downlink</th>
                            </tr>
                            <tr>
                                <td [attr.colspan]="frequency.providers.length">
                                    <frequencies-bar [providers]="frequency.providers" [linkType]="'downLink'" [frequencyBand]="frequency.band"></frequencies-bar>
                                </td>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let provider of frequency.providers">
                                    <td><small>{{(provider.frequency.downLink.end + provider.frequency.downLink.start) / 2 | number}} MHz ({{provider.frequency.downLink.end - provider.frequency.downLink.start | number}} MHz)</small></td>
                                </ng-container>
                             </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md">
                    <div class="table-responsive">
                        <ng-container *ngFor="let provider of frequency.providers"></ng-container>
                        <table class="table table-sm">
                            <tr>
                                <th colspan="3">FDD Uplink</th>
                            </tr>
                            <tr>
                                <td [attr.colspan]="frequency.providers.length">
                                    <frequencies-bar [providers]="frequency.providers" [linkType]="'upLink'" [frequencyBand]="frequency.band"></frequencies-bar>
                                </td>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let provider of frequency.providers">
                                    <td><small>{{(provider.frequency.upLink.end + provider.frequency.upLink.start) / 2 | number}} MHz ({{provider.frequency.upLink.end - provider.frequency.upLink.start | number}} MHz)</small></td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="getBandType(frequency.band) == 'TDD'">
                <div class="col-md">
                    <div class="table-responsive">
                        <ng-container *ngFor="let provider of frequency.providers"></ng-container>
                        <table class="table table-sm">
                            <tr>
                                <th colspan="3">TDD Downlink/Uplink</th>
                            </tr>
                            <tr>
                                <td [attr.colspan]="frequency.providers.length">
                                    <frequencies-bar [providers]="frequency.providers" [linkType]="'downLink'" [frequencyBand]="frequency.band"></frequencies-bar>
                                </td>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let provider of frequency.providers">
                                    <td><small>{{(provider.frequency.downLink.end + provider.frequency.downLink.start) / 2 | number}} MHz ({{provider.frequency.downLink.end - provider.frequency.downLink.start | number}} MHz)</small></td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="getBandType(frequency.band) == 'SDL'">
                <div class="col-md">
                    <div class="table-responsive">
                        <ng-container *ngFor="let provider of frequency.providers"></ng-container>
                        <table class="table table-sm">
                            <tr>
                                <th colspan="3">SDL Downlink</th>
                            </tr>
                            <tr>
                                <td [attr.colspan]="frequency.providers.length">
                                    <frequencies-bar [providers]="frequency.providers" [linkType]="'downLink'" [frequencyBand]="frequency.band"></frequencies-bar>
                                </td>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let provider of frequency.providers">
                                    <td><small>{{(provider.frequency.downLink.end + provider.frequency.downLink.start) / 2 | number}} MHz ({{provider.frequency.downLink.end - provider.frequency.downLink.start | number}} MHz)</small></td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="getBandType(frequency.band) == 'SUL'">
                <div class="col-md">
                    <div class="table-responsive">
                        <ng-container *ngFor="let provider of frequency.providers"></ng-container>
                        <table class="table table-sm">
                            <tr>
                                <th colspan="3">SDL Downlink</th>
                            </tr>
                            <tr>
                                <td [attr.colspan]="frequency.providers.length">
                                    <frequencies-bar [providers]="frequency.providers" [linkType]="'upLink'" [frequencyBand]="frequency.band"></frequencies-bar>
                                </td>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let provider of frequency.providers">
                                    <td><small>{{(provider.frequency.upLink.end + provider.frequency.upLink.start) / 2 | number }} MHz ({{provider.frequency.upLink.end - provider.frequency.upLink.start | number}} MHz)</small></td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>

    </ng-container>
</div>