<div class="container">
    <h1>{{country | titlecase}}</h1>
    <h2> 800 MHz (B20)</h2>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="3">Downlink</th>
                    </tr>
                    <tr>
                        <td title="DNA" style="color:white;background:#ff007d">DNA</td>
                        <td title="Telia" style="color:white;background:#990ae3">Telia</td>
                        <td title="Elisa" style="color:white;background:#0019af">Elisa</td>
        
                    </tr>
                    <tr>
                        <td>791 MHz (10 MHz)</td><td> 801 MHz (10 MHz)</td><td>852 MHz (10 MHz)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="3">Uplink</th>
                    </tr>
                    <tr>
                        <td title="DNA" style="color:white;background-color: #ff007d;">DNA</td>
                        <td title="Telia" style="color:white;background:#990ae3">Telia</td>
                        <td title="Elisa" style="color:white;background:#0019af">Elisa</td>
                    </tr>
                    <tr>
                        <td>832 MHz (10 MHz)</td><td> 842 MHz (10 MHz)</td><td>852 MHz (10 MHz)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
